doctype html
html
	head
	meta(charset = 'utf-8')
	meta(name='viewport', content="initial-scale=1.0, width=device-width")
	title Webpack app
	body
		.wrapper
			include tpl/header.pug
			.middle
				.text sdfsdf
				.text2(style="background:red;")
					| 22222
					br
					| dsasdasa
