doctype html
html
	head
	meta(charset = 'utf-8')
	meta(name='viewport', content="initial-scale=1.0, width=device-width")
	link(rel="stylesheet", href="css/style.css")
	title Webpack app
	body
		.wrapper
			include tpl/header.pug
			.middle
				.text sdfsdf
				.text2(style="background:blue;")
					| aaaaaaa
					br
					| dsasdasa
			.icons
				.icon_1